CsharpLibrary/Service References/ArithmeticService/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFLibrary.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFLibrary.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataContracts">
    <xs:sequence>
      <xs:element minOccurs="0" name="resultValue" type="xs:int" />
      <xs:element minOccurs="0" name="value1" type="xs:int" />
      <xs:element minOccurs="0" name="value2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataContracts" nillable="true" type="tns:DataContracts" />
</xs:schema>