CsharpLibrary/Service References/ArithmeticService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaultModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessageForUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultModel" nillable="true" type="tns:FaultModel" />
</xs:schema>