CsharpLibrary/Service References/ArithmeticService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65216/Contracts/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCFLibrary.Contracts" />
  <xs:element name="SoapHeader" nillable="true" type="xs:string" />
  <xs:element name="resultValue" type="xs:int" />
  <xs:element name="DivWithDataConReqRes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFLibrary.Contracts" minOccurs="0" name="reqMessage" nillable="true" type="q1:DataContracts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivWithDataConReqResResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFLibrary.Contracts" minOccurs="0" name="DivWithDataConReqResResult" nillable="true" type="q2:DataContracts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>